{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/cats.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>real source code by real people</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> oof ow ouch hot
			</h1>
			<p class="large">
				we put a fork in the microwave again it really hurts
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> computers
			</h1>
			<p class="large">
				they do the beep and the boop, but not really anything else
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> mars for the rich
			</h1>
			<p class="large">
				deetya iyer has watched interstellar 15.5 times and counting
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> angle brackets
			</h1>
			<p class="large">
				what
			</p>
		</div>

		<div class="sixteen wide center aligned centered column">
			<p class="large">you're probably looking for my <a href="https://git.qtp2t.club/hazel">actual code</a></p>
		</div>
	</div>
</div>
{{template "base/footer" .}}

